
MPS/MPS/obj/x86/Debug/MPS.pdb
MPS/MPS/obj/x86/Debug/MPS.csproj.FileListAbsolute.txt
MPS/MPS/bin/Debug/MPS.vshost.exe
MPS/MPS/bin/Debug/MPS.pdb
MPS/MPS/bin/Debug/MPS.exe
MPS/MPS/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MPS/MPS/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MPS/MPS/obj/x86/Debug/MPS.csproj.GenerateResource.Cache
MPS/MPS/obj/x86/Debug/MPS.Properties.Resources.resources
